@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
}

body {
  color: #fff;
  background-color: #000;
  margin: 0;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 11px;
}

h1 {
  color: #fff;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.3rem;
  text-align: center;
  text-shadow: 3px 1px #0ffbf9, -3px 1px #ff3f4a;
}

section {
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 40rem;
  min-height: 17rem;
  padding-inline: 2rem;
}
